{{!-- 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<main>
    <h1 class="text-center text-uppercase">Hello world!</h1>
    <h2 class="text-end text-lowercase">Second</h2>
    <h3 class="text-capitalize">3 title one two</h3>

    <hr>

    <div class="display-1 text-muted">Hello world!</div>
    <div class="display-5">Second</div>
    <div class="display-6">3 title</div>

    <hr>
    <div class=" text-muted text-end">
    Додатковий <span class="display-6">текст</span>
    </div>

    <hr>
    <div class="card">
        <div class="card-bodybody"> 
            <button class="btn btn-outline-secondary">My button</button>
        </div>
     


    <a href="#" class="btn btn-outline-primary">
        Button primary
    </a>

    <hr>

    <p class="text-dark">My text</p>

    <hr>

    <button class="btn btn-outline-secondary">My button</button>

    <br>
    <br>
    <br>

    <div class="card">
        <div class="card-body">This is content</div>
    </div>
    
</main>